<title>Different Admins</title>

<h1>Admin Links</h1>
<ul>
    <li><a href="/admin">Default Admin</a></li>
    <li><a href="/headmaster-admin">Headmaster's Admin</a></li>
    <li><a href="/counselors-admin">Conselor's Admin</a></li>
    <li><a href="/teachers-admin">Teacher's Admin</a></li>
</ul>


<table>
    <tr>
      <th>Email</th>
      <th>Password</th> 
      <th>Group</th>
    </tr>
    <tr>
      <td>admin@admin.com</td>
      <td>password321</td>
      <td>SuperUser</td>
    </tr>
    <tr>
      <td>headmaster@school.com</td>
      <td>password321</td>
      <td>Headmaster</td>
    </tr>
    <tr>
      <td>counselor@school.com</td>
      <td>password321</td>
      <td>Counselor</td>
    </tr>
    <tr>
      <td>teacher@school.com</td>
      <td>password321</td>
      <td>Teacher</td>
    </tr>
  </table>